.main-sidebar{
    position: relative;
    top: 0px;
    margin-top:48px;
    background-color: rgb(12, 12, 12);
    width: 260px;
    height: 90%;
    z-index: 0;
}


.sidebar-ul{
    list-style: none;
}

.sidebar-ul li {
    width: 250px;
    margin-left: -37px;
    margin-bottom: 3px;
    height: 50px;
    border: 1px rgb(34, 34, 34) solid;
  
}

.sidebar-ul li a {
    font-size: 20px;
    text-decoration: none;
    vertical-align: center;
}

.sidebar-ul li a p{
    text-align: center;
    color: white;
    margin-top: 12px;
}

.big-row{
    margin-left: 150px;
    margin-top: -630px;
    width: 1400px;
}

.col-md-6 {
    display: inline-block;
}


#save_btn, #save_acc_btn{
    width: 250px;
    margin-bottom: -5;
    height: 40px;
}

#edit_btn, #edit_acc_btn{
    height: 35px;
    width: 90px;
    margin-top: -10px;
}

#cancel_btn, #cancel_acc_btn{
    height: 35px;
    width: 90px;
}

.content{
    background: blue; 
    width : 1410px; 
    height : 705px; 
    float: left; 
    position : relative; 
    top: -718px; 

}

