.user-info-input{
    margin-bottom: 10px;
    width: 250px;
    height: 37;
}

.user-info-form{
    top:  0;
    margin-top: 26px;
    margin-left: 10px;
    
}

.account-info-form{
    margin-top: -45px;
    margin-left: -100px;
}

#acc_form{
    background-color: blue;
}

#edit_btn{
    margin-left: 10px;
}


#save_btn, #save_acc_btn{
    width: 250px;
    height: 40px;
}
#save_acc_btn{
    margin-bottom: 10px; 
    width:250px; 
    display : none;
}
#save_btn{
    margin-bottom: 10px; 
    width:250px;
    display : none;
}

#edit_btn, #edit_acc_btn{
    height: 35px;
    width: 90px;
    margin-top: -10px;
}

#cancel_btn, #cancel_acc_btn{
    height: 35px;
    width: 90px;
}

#cancel_acc_btn{
    position: relative;
    left: -33px;
    display : none;
}

#edit_btn{
    position: relative;

}
#edit_acc_btn{
    position: relative;
    left: -100px;
}
#cancel_btn{
    position: relative;
    left: 67px;
    display : none
}

#info-title{
    position: relative;
    top: -390;
    left: 150;
    margin-bottom: 10px; 
    font-size: 20px; 
    width:180px;

}

.title{
    font-weight: 100px;
    font-style: italic;
}

#image{
    width: 340px;
    height: 380px;
    display:inline; 
    margin-top: -20px;
}

#user-info-container{
    margin-left : -20px; 
    margin-top: 15px;
}

#user-info-title{
    margin-left: 0px; 
    margin-top: -5px;
    margin-bottom: 40px;
    font-size: 18px; 
    width:180px;
}

#account-info-container{
    margin-top: 4px;
}

#account-info-title{
    position: relative;
    margin-left: -100px; 
    margin-bottom: 55px; 
    top: -1px;
    font-size: 18px; 
    width:180px;
   
}

body{
    overflow: hidden;
}

.content-wrapper{
    background-color: white;
}

#content{
    position: relative;
    top: -280px;
}
