.main-sidebar{
    position: relative;
    top: -2px;
    margin-top:60px;
    background-color: rgb(12, 12, 12);
    width: 260px;
    height: 100%;
}


.sidebar-ul{
    list-style: none;
}

.sidebar-ul li {
    width: 255px;
    margin-left: -40px;
    margin-bottom: 3px;
    height: 50px;
    border: 1px rgb(34, 34, 34) solid;
  
}

.sidebar-ul li a {
    font-size: 20px;
    text-decoration: none;
    vertical-align: center;
}

.sidebar-ul li a p{
    text-align: center;
    color: white;
    margin-top: 12px;
}