html{
    background-image: url('/Resource/htmlbackground.png');
    background-attachment: fixed;
}
.login-box{
    position: relative;
    width: 400;
    height: 350;
    margin: 0 auto;
    top: 100;
}

.login-box-background{
    position: relative;
    width: 400;
    height: 350;
    background-color: rgb(56, 67, 78);
    margin: 0 auto;
    opacity: 80%;
}

.login-form{
    position: absolute;
    width: 100%;
    top: 100;
}

.login-form .email-box, .login-form .password-box{
    display: block;
    margin: 0 auto;
    margin-bottom: 10;
    margin-left: 70;
}

.email-box, .password-box{
    height: 30;
    width: 270;
    left: 80;
}

.login-button{
    height: 40;
    width: 270;
    margin-bottom: 10;
    margin-left: 70;
}


h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    color: white;
    top: 7%;
    left: 30%;

}

p{
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 14;
    text-align: center;
    margin-top: -92;
}

.user-pass{
    position: absolute;
    top: 26%;
    left: 5;
}

.user-pass div{

    margin-bottom: 24.5;
}
