html{
    /* background-image: url('https://e1.pxfuel.com/desktop-wallpaper/378/21/desktop-wallpaper-bape-shark-bape-camo.jpg'); */
    /* background-image: url('/Resource/htmlbackground.png'); */
}
.OnTopHomePage{
    background-color: black;
    height: 50px;
    width: 1730;
    padding-top: 10px;
    position: fixed;
    top: -3;
    z-index: 1;

}

.navigator-header{
    float: right;
    margin-right: 150;
    margin-top: 10;
    list-style: none;
}

.navigator-header li{
    display: inline-block;
    margin-right: 30;
   
}
    
.navigator-header li a{
    text-decoration: none;
    color: white;
    font-size:13;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigator-header li a:hover,
.navigator-header li a:active{
    color: rgb(0, 255, 225);
}


.XenTopPage{
    display: inline;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 4;
    left: 20;

}

.XenLogo1,.XenLogo2{
    background-color: black;
    height: 35px;
    width: 120px;
    position: absolute;
    margin-top: 3;
    left: 793px;
}


.OnTopHomePage .XenLogo1:hover,.OnTopHomePage .XenLogo1 :active{
    visibility: hidden;
}
hr{
    position: fixed;
    z-index: 1;
    top: 50;
    width: 100%;   
}
#user-logged-status{
   position: relative;
   z-index: 3;
   list-style: none;
   float: right;
   left: 503;
   margin-top: 10;
}

#user-logged-status li a{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size:13;
    margin-left: 16;
}


#user-logged-status li{
    background: black;
    margin-bottom: 10px;
    width: 90;
    height: 30;
    padding: 0 5px;
}

#user-logged-status li a:hover,
#user-logged-status li a:active{
    color: rgb(0, 255, 225);
}

#user-logged-status #logout-btn{
    display: none;
    height: 95px;
    margin-top: -50px;
 
}

#user-logged-status #logout-btn a{
    position: absolute;
    top: 50px;
}


