html{
    /* background-image: url('https://e1.pxfuel.com/desktop-wallpaper/378/21/desktop-wallpaper-bape-shark-bape-camo.jpg'); */
    background-image: url('/Resource/htmlbackground.png');
    background-attachment: fixed;
}
.OnTopHomePage{
    background-color: black;
    height: 50px;
    width: 1730;
    padding-top: 10px;
    position: fixed;
    top: -3;
    z-index: 1;
}

.navigator-header{
    float: right;
    margin-right: -5;
    margin-top: 10;
    list-style: none;
}

.navigator-header li{
    display: inline-block;
    margin-right: 30;
   
}
    
.navigator-header li a{
    text-decoration: none;
    color: white;
    font-size:13;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigator-header li a:hover,
.navigator-header li a:active{
    color: rgb(0, 255, 225);
}


.XenTopPage{
    display: inline;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 4;
    left: 20;

}

.XenLogo{
    background-color: black;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 850px;
}


.OnTopHomePage img:hover,.OnTopHomePage img :active{
    visibility: hidden;
}
hr{
    position: relative;
    z-index: 1;
    top: 48;
}