div.filter{
    height: 50;
    background-color:  white;
    margin-bottom: 5;
}

table{
    margin-left: -30;
}

div.container{
    margin-left: 30;
}

div.background{
    background: black;
    position: relative;
}

img{
    width: 400;
    height: 450;
    position: inherit;
}

p{
    color: white;
}


.item-title{
    top: 90%;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: white;
    opacity: 0;
    transition: all .2s;
}

div.container .background img:hover,
div.container .background img:active{
    opacity: 50%;
    filter: blur(5px);
}

div.container .background:hover p,
div.container .background:active p{
    opacity: 1;
    top: 40%;
}
