.user-info-input{
    margin-bottom: 10px;
    margin-top: -100px;
    width: 250px;
    height: 37;
}

.user-info-form{
  position: relative;
  left: 400px;
  top: -410px;
  z-index: 4;
}


#save_btn{
    position: relative;
    margin-bottom: 10px; 
    width:250px;
    display : none;
    z-index: 4;
}

#edit_btn{
    position: relative;
    top: -410px;
    left: 400px;
    z-index: 4;
}
#cancel_btn{
    position: relative;
    top: -410px;
    left: 468px;
    z-index: 4;
    display : none
}


.account-info-form{
   
    position: relative;
    top: 10px;
    left: 650px;
}

#save_btn, #save_acc_btn{
    width: 250px;
    height: 40px;
}
#save_acc_btn{
    margin-bottom: 10px; 
    width:250px; 
    display : none;
}


#edit_btn, #edit_acc_btn{
    height: 35px;
    width: 90px;
    margin-top: -10px;
}

#cancel_btn, #cancel_acc_btn{
    height: 35px;
    width: 90px;
}

#cancel_acc_btn{
    position: relative;
    left: 617px;
    top: 0px;
    display : none;
}

#edit_acc_btn{
    position: relative;
    top:  0px;
    margin-top: 5px;
    left: 550px;
}


#info-title{
    position: relative;
    top: -155;
    left: 150;
    margin-bottom: 10px; 
    font-size: 20px; 
    width:180px;

}

.title{
    font-weight: 100px;
    font-style: italic;
}

#image{
    position: relative;
    left: 50px;
    top: 0px;
    width: 340px;
    height: 380px;
    display:inline; 
    margin-top: -20px;
}

#user-info-container{
    margin-left : -20px; 
    margin-top: 15px;
}

#user-info-title{
    position: relative;
    top: 0px;
    left: 50px;
    margin-bottom: 40px;
    font-size: 18px; 
    width:180px;
}

#account-info-container{
    margin-top: 4px;
}

#account-info-title{
    position: relative;
    top: 0px;
    left: 650px;
   
}

#old_pass_input,#new_pass_input,#confirm_pass_input {
    display: none;
}

.title-pass{
    display: none;
}
