

.OnTopHomePage{
    background-color: black;
    height: 50px;
    width: 1730;
    padding-top: 10px;
    position: fixed;
    top: -3;
    z-index: 1;
}

.XenTopPage{
    display: inline;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 4;
    left: 20;

}

.XenLogo{
    background-color: black;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 850px;
}
.mainImageHome1{
    display: inline;
    position: absolute;
    /* top: 60;
    left: 50; */
    width: 900px;
    height: 630px;
    object-fit: fill;
  
}
.mainImageHome2{
    display: inline;
    position: absolute;
    width: 550px;
    height: 630px;
    top: 60;
    left: 1050;
    object-fit: fill;
}
.tenSanPham{
    position: absolute;
    text-align: center;
    top: 530;
    left: 360;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.mainImageHome{
    display: block;
    position: relative;
    background-color: rgb(133, 133, 133);
    height: 725px;
 }

 .aoVaTenSanPham{
    position: absolute;
    top: 60;
    left: 70;
    width: 900px;
    height: 630px;

 }
.collection{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
}
 .imgEx{
    display: block;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  
 }
    
    
